<!DOCTYPE html>
<html>
<head>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <style>
    /* Dark mode styles */
    .navbar-dark .navbar-nav .nav-link {
      color: #fff;
  }
  </style>
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">N-mart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/merchant-login">Merchant Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view-orders">View Orders</a>
        </li>
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategory" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Shop by Category
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownCategory">
        <a class="dropdown-item" href="#">Category 1</a>
        <a class="dropdown-item" href="#">Category 2</a>
        <a class="dropdown-item" href="#">Category 3</a>
        <!-- Add more categories as needed -->
      </div>
      </li>
      </ul>
    <form class="form-inline my-2 my-lg-0">
     <input class="form-control mr-sm-2" type="search" placeholder="Search your" aria-label="Search" size="80">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      
      <div class="dropdown ml-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.name}}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/logout">Log out</a>
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">About Us</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Include Bootstrap JS (jQuery must be included before Bootstrap) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
